{% extends "layouts/base.html" %}

{% block title %} Aggiungi corso {% endblock %}

{% block content %}

<div class="py-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="titolo" class="form-label">Titolo</label>
            <input type="text" name="titolo" id="titolo" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Aziende</label>
            {% for azienda in aziende %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="aziende[]" id="azienda{{azienda.id}}" value="{{azienda.id}}">
                <label class="form-check-label" for="azienda{{azienda.id}}">
                    {{azienda.nome}}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="video_file" class="form-label">File Video</label>
            <input type="file" name="video_file" id="video_file" class="form-control-file">
        </div>
        <div class="d-flex justify-content-start">
            <button class="btn btn-primary me-2" type="submit">Salva</button>
            <a href="{% url 'amministrazione' %}" class="btn btn-secondary me-2">Indietro</a>
        </div>
    </form>
</div>

{% endblock content %}