{% extends "layouts/base.html" %}

{% load templatetags %}

{% block title %} Risultati Quiz {% endblock %}

{% block content %}
<h1>Risultati per {{ quiz_attempt.quiz.titolo }}</h1>

{% for risultato in risultati %}
    <div class="mb-3 domanda">
        <label class="domanda-label">{{ risultato.domanda.testo }}</label>
        <div class="form-check opzione">
            <input class="form-check-input" type="radio" disabled {% if risultato.corretta %}checked{% endif %}>
            <label class="form-check-label">
                Risposta: {{ risultato.corretta|yesno:"Corretta,Errata" }}
            </label>
        </div>
        <div class="risposta-data">
            Risposta data: {{ risultato.testo_risposta }}
        </div>
    </div>
{% endfor %}

<p>Risposte corrette: {{ quiz_attempt.risultati.risposte_corrette }} su {{numero_domande}}</p>

{% if quiz_attempt.risultati.test_superato %}
    <p class="alert alert-success">Test superato!</p>
    <a href="{% url 'scarica_attestato' id_corso=quiz_attempt.quiz.video_corso.id %}" class="btn btn-primary">Scarica Attestato</a>
{% else %}
    <p class="alert alert-danger">Test non superato!</p>
{% endif %}

<a href="{% url 'utente_corso_dettaglio' id_corso=quiz_attempt.quiz.video_corso.id %}">Torna al corso</a>
{% endblock content %}