{% extends "layouts/base.html" %}

{% block title %} Profilo {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h1>Profilo di {{ utente.user.first_name }} {{ utente.user.last_name }}</h1>

<div class="col-12 mb-4">
    <div class="card border-0 shadow">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="fs-5 fw-bold mb-0">Video corsi</h2>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th>Titolo del corso</th>
                        <th>Secondi visualizzati</th>
                        <th>Durata totale</th>
                        <th>Percentuale completamento</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for corso in corsi_utente %}
                        <tr>
                            <td>{{ corso.titolo }}</td>
                            <td>{{ corso.stati_video.first.totale_secondi_visualizzati }}</td>
                            <td>{{ corso.durata_video }}</td>
                            <td>{{corso.stati_video.first.percentuale_completamento}} %</td>
                            <td>
                                <div class="progress mb-0">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{corso.stati_video.first.percentuale_completamento}}" aria-valuemin="0" aria-valuemax="100" style="width: {{corso.stati_video.first.percentuale_completamento|floatformat:0}}%;"></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Tasto indietro, se l'utente è admin riporta alla al dettaglio dell'aziend -->
{% if is_admin %}
    <a href="{% url 'dettagli_azienda' utente.azienda.id %}" class="btn btn-primary">Indietro</a>
{% else %}
{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    document.querySelectorAll('.completion-percentage').forEach(function(td) {
        var secondsViewed = parseFloat(td.dataset.secondsViewed);
        var totalSeconds = parseFloat(td.dataset.totalSeconds);
        var percentage = totalSeconds > 0 ? (secondsViewed / totalSeconds) * 100 : 0;
        td.textContent = percentage.toFixed(2) + '%';
    });
</script>

{% endblock javascripts %}