{% extends "layouts/base.html" %}

{% block title %} Corsi {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container">
        <h1>Corsi</h1>
        <div class="row">
            {% for corso in video_corsi %}
                <div class="col-md-4">
                    <h2>{{ corso.nome }}</h2>
                    <p>{{ corso.descrizione }}</p>
                    <p><a class="btn btn-secondary" href="{% url 'corso_detail' corso.id %}" role="button">View details &raquo;</a></p>
                </div>
            {% empty %}
                <p>Nessun corso disponibile.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}