{% extends "layouts/base.html" %}

{% block title %} Corsi Utente {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h1>Corsi Utente</h1>
<div class="col-12 mb-4">
    <div class="card border-0 shadow">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="fs-5 fw-bold mb-0">Video corsi</h2>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th class="border-bottom" scope="col">Nome corso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video_corso in video_corsi %}
                    <tr>
                        <th class="text-gray-900" scope="row">
                            {{ video_corso.titolo }}
                        </th>
                        <td class="fw-bolder text-gray-500">
                        </td>
                        <td class="fw-bolder text-gray-500">
                        </td>
                        <td class="fw-bolder text-gray-500">
                            <a href="{% url 'utente_corso_dettaglio' video_corso.id %}" class="btn btn-primary">Dettagli</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}