{% extends "layouts/base.html" %}

{% block title %} Video corsi {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="fs-5 fw-bold mb-0">Moduli del corso di {{corso.titolo}}</h2>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-bottom" scope="col">Nome corso</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for videocorso in videocorsi %}
                        <tr>
                            <th class="text-gray-900" scope="row">
                                {{ videocorso.titolo }}
                            </th>
                            <td class="fw-bolder text-gray-500">
                            </td>
                            <td class="fw-bolder text-gray-500">
                            </td>
                            {% if not videocorso.prev_completed %}
                            <td class="fw-bolder text-gray-500">
                                <a href="{% url 'video_corso_utente' videocorso.id %}" class="btn btn-primary disabled">Dettagli</a>
                            </td>
                            {% else %}
                            <td class="fw-bolder text-gray-500">
                                <a href="{% url 'video_corso_utente' videocorso.id %}" class="btn btn-primary">Dettagli</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'utente_corso_dettaglio' corso.id %}" class="btn btn-secondary me-2">Indietro</a>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}